{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="page-header" style="background-image: url(/static/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Climbing Beans</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="{% url 'home'  %}">Home</a></li>
            <li><a href="#" class="shop_style">Shop</a></li>
            <li><span>Products</span></li>
        </ul>
    </div>
</section>
<section class="product_detail">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="product_detail_image">
                    <img src="{% static 'images/shop/beans.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="table-responsive">
                    <table class="table table-striped">
                     <thead>
                         <tr>
                            <th>Variety</th>
                            <th>Optimal Production level</th>
                            <th>Duration to Maturity</th>
                            <th>Yield</th>
                            <th>Special Attributes</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                            <td>NABE 12C</td>
                            <td>>1600 meters above sea level</td>
                            <td>90-110 days</td>
                            <td>2.3-3.0 tons per hectare</td>
                            <td>-Tolerant to anthracnose, root rot, CBB, rust and BCMV.</td>
                         </tr>
                         <tr>
                            <td>NABE 26C</td>
                            <td>>1600 meters above sea level</td>
                            <td></td>
                            <td></td>
                            <td>-High yielding, tasty, tolerant to root rot, ALS, anthracnose.</td>
                         </tr>
                     </tbody>
                    </table>
                  </div>
            </div>
        </div>
        
    </div>
</section>

<section class="all_products_two">
    <div class="container">
        
        
    </div>
</section>


{% endblock content %}