{% load static %}

<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home || Simlaw Seeds </title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">

    <!-- Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&amp;display=swap" rel="stylesheet">
    <!-- Css-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.pips.css' %}">
    <link rel="stylesheet" href="{% static 'css/agrikol_iconl.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.bootstrap-touchspin.css' %}">
    <!-- Template styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>



<body>

    <div class="preloader">
        <img src="{% static 'images/loader.png' %}" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">


        <div class="site-header__header-one-wrap">

            <div class="topbar-one">
                <div class="topbar_bg" style="background-image: url(/static/images/shapes/header-bg.png)"></div>
                <div class="container">
                    <div class="topbar-one__left">
                        <a href="mailto:info@simlawseeds.ug"><span class="icon-message"></span>info@simlawseeds.ug</a>
                        <a href="tel:0200979898"><span class="icon-phone-call"></span>0200979898</a>
                    </div>
                    <div class="topbar-one__middle">
                        <a href="{% url 'home'  %}" class="main-nav__logo">
                            <img src="{% static 'images/resources/simlaw.png' %}" class="main-logo" alt="Awesome Image" />
                        </a>
                    </div>
                    <div class="topbar-one__right">
                        <div class="topbar-one__social">
                            <a href="https://facebook.com/simlawseedsug/"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://twitter.com/simlawseedsug/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/simlaw-seeds-company-uganda-limited"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <header class="main-nav__header-one">
                <nav class="header-navigation stricky">
                    <div class="container clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="main-nav__left">
                            <!--<a href="#" class="main-nav__search search-popup__toggler"><i
                                    class="icon-magnifying-glass"></i></a>-->
                            <a href="#" class="side-menu__toggler">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="main-nav__main-navigation">
                            <ul class=" main-nav__navigation-box">
                                <li class="dropdown">
                                    <a href="{% url 'home'  %}">Home</a>
                                    <!--<ul>
                                        <li><a href="index-2.html">Home 01</a></li>
                                        <li><a href="index2.html">Home 02</a></li>
                                        <li><a href="index3.html">Home 03</a></li>
                                        <li><a href="index4.html">Home 04</a></li>
                                        <li><a href="index5.html">Home 05</a></li>
                                        <li class="dropdown"><a href="#">Header Versions</a>
                                            <ul>
                                                <li><a href="index-2.html">Header 01</a></li>
                                                <li><a href="index2.html">Header 02</a></li>
                                                <li><a href="index3.html">Header 03</a></li>
                                                <li><a href="index4.html">Header 04</a></li>
                                                <li><a href="index5.html">Header 05</a></li>
                                            </ul>
                                        </li>
                                    </ul>--><!-- /.sub-menu -->
                                </li>
                                <li class="dropdown">
                                    <a href="#">Our Products</a>
                                    <ul>
                                        <li class="dropdown"><a href="#">Cereals</a>
                                            <ul>
                                                <li><a href="{% url 'maize' %}">Maize</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Vegetables</a>
                                            <ul>
                                                <li><a href="{% url 'onions' %}">Onions</a></li>
                                                <li><a href="{% url 'cabbage' %}">Cabbages</a></li>
                                                <li><a href="{% url 'veg' %}">Indigenous Vegetables</a></li>
                                                <li><a href="{% url 'tomatoes' %}">Tomatoes</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Beans</a>
                                            <ul>
                                                <li><a href="{% url 'bbeans' %}">Bush Beans</a></li>
                                                <li><a href="{% url 'cbeans' %}">Climbing Beans</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Pastures</a>
                                            <ul>
                                                <li><a href="{% url 'grass' %}">Grass</a></li>
                                                <li><a href="{% url 'legumes' %}">Legumes</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="#">Fruits</a>
                                            <ul>
                                                <li><a href="{% url 'watermelon' %}">Watermelon</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'about'  %}">About</a></li>
                                <!--
                                <li class="dropdown">
                                    <a href="service.html">Services</a>
                                    <ul>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-detail.html">Services Detail</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="projects.html">Our Projects</a>
                                    <ul>
                                        <li><a href="projects.html">Projects</a></li>
                                        <li><a href="projects_detail.html">Projects Detail</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Shop</a>
                                    <ul>
                                        <li><a href="product.html">Products</a></li>
                                        <li><a href="product-detail.html">Product Detail</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="{% url 'about'  %}">About</a></li>
                                        <li><a href="why_choose_us.html">Why Choose Us</a></li>
                                        <li><a href="farmers.html">Farmers</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">News</a>
                                    <ul>
                                        <li><a href="news.html">News</a></li>
                                        <li><a href="news_detail.html">News Details</a></li>
                                    </ul>
                                </li>
                                -->
                                <li class="dropdown">
                                    <a href="#">Shop</a>
                                    <ul>
                                        <li><a href="{% url 'listin'  %}">Products</a></li>
                                        <li><a href="{% url 'cart' %}">Cart</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'contact'  %}">Contact</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="#">
                                        <span>My Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <span>logout</span>
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'login' %}">
                                        <span>login</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            
                        </div><!-- /.navbar-collapse -->

                        <div class="main-nav__right">
                            
                            <div class="icon_cart_box">
                                <a href="{% url 'cart' %}">
                                    <span class="icon-shopping-cart"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>


        <div class="mt-5 py-4">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        {% block content %}


        {% endblock content %}

        
        <footer class="site-footer">
            <div class="site-footer_farm_image"><img src="{% static 'images/resources/site-footer-farm.png' %}"
                    alt="Farm Image"></div>
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-5 col-lg-4 col-md-6">
                        <div class="footer-widget__column footer-widget__about wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__title">
                                <h3>About</h3>
                            </div>
                            <div class="footer-widget_about_text">
                                <p>We import, produce, market and distribute quality and genuine agricultural inputs especially; seeds, agricultural chemicals, and farm tools for commercial and subsistence or domestic use.</p>
                            </div>
                            <form>
                                <div class="footer_input-box">
                                    <input type="Email" placeholder="Email Address">
                                    <button type="submit" class="button"><i class="fa fa-check"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-6">
                        <div class="footer-widget__column footer-widget__link wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__title">
                                <h3>Explore</h3>
                            </div>
                            <ul class="footer-widget__links-list list-unstyled">
                                <li><a href="{% url 'about'  %}">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="{% url 'contact'  %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-xl-4 col-lg-3 col-md-6">
                        <div class="footer-widget__column footer-widget__contact wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-widget_contact">
                                <p>Industrial Area<br>Kampala, Uganda</p>
                                <a href="mailto:info@simlawseeds.ug">info@simlawseeds.ug</a><br>
                                <a href="tel:0200979898">0200979898</a>
                                <div class="site-footer__social">
                                    <a href="https://facebook.com/simlawseedsug/"><i class="fab fa-facebook-square"></i></a>
                                    <a href="https://twitter.com/simlawseedsug/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/company/simlaw-seeds-company-uganda-limited"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="site-footer_bottom">
            <div class="container">
                <div class="site-footer_bottom_copyright">
                    <p>@ All copyright 2020, <a href="#">simlawseeds.ug</a></p>
                </div>
                <div class="site-footer_bottom_menu">
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>




    </div><!-- /.page-wrapper -->


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <div class="side-menu__block">
        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">
            <div class="side-menu__top justify-content-end">
                <a href="#" class="side-menu__toggler side-menu__close-btn"><img
                        src="{% static 'images/shapes/close-1-1.png' %}" alt=""></a>
            </div><!-- /.side-menu__top -->

            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>

            <div class="side-menu__sep"></div><!-- /.side-menu__sep -->

            <div class="side-menu__content">
                <p><a href="mailto:info@simlawseeds.ug">info@simlawseeds.ug</a> <br> <a href="tel:0200979898">0200979898</a></p>
                <div class="side-menu__social">
                    <a href="https://facebook.com/simlawseedsug/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/simlawseedsug/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/simlaw-seeds-company-uganda-limited"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>



    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/typed-2.0.11.js' %}"></script>
    <script src="{% static 'js/vegas.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>

    <!-- template scripts -->
    <script src="{% static 'js/theme.js' %}"></script>


</body>

</html>