{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="page-header" style="background-image: url(/static/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Cart</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#" class="shop_style">Shop</a></li>
            <li><span>Cart</span></li>
        </ul>
    </div>
</section>

<section class="cart">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cart_table_box">
                    <table class="cart_table">
                        <thead class="cart_table_head">
                            <tr>
                                <th>Item</th>
                                <th></th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for orderitem in object.orderitem_set.all %}
                                <tr>
                                    <td colspan="2">
                                        <div class="colum_box">
                                            <div class="prod_thum">
                                                <a href="#"><img src="{{ orderitem.product.image_115x122.url }}" alt=""></a>
                                            </div>
                                            <div class="title">
                                                <h3 class="prod-title">{{ orderitem.product.name }}</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pro_price">UGX{{ orderitem.product.price }}</td>
                                    <td class="">
                                        <div style="display: inline-block; position: relative;" class="form-group--number">
                                            <button style="background: none;
                                            border: none;
                                            background-color: transparent;
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            width: 20px;
                                            height: 20px;
                                            max-width: 20px;
                                            display: flex;
                                            flex-flow: row nowrap;
                                            justify-content: center;
                                            align-items: center;
                                            color: #000;
                                            font-size: 20px;
                                            line-height: 1em; right: 10px;" class="up"><a href="{% url 'add-to-cart' orderitem.product.id %}">+</a></button>
                                            <button style="background: none;
                                            border: none;
                                            background-color: transparent;
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            width: 20px;
                                            height: 20px;
                                            max-width: 20px;
                                            display: flex;
                                            flex-flow: row nowrap;
                                            justify-content: center;
                                            align-items: center;
                                            color: #000;
                                            font-size: 20px;
                                            line-height: 1em; left: 10px;" class="down" ><a href="{% url 'remove-item-from-cart' orderitem.product.id %}">-</a></button>
                                            <input style="border: 1px solid #ccc;height: 40px;padding: 0 25px;text-align: center;font-size: 14px;color: #000;border-radius: 10px;background-color: transparent;" class="form-control" type="text" placeholder="{{ orderitem.quantity }}" value="{{ orderitem.quantity }}">
                                        </div>
                                        
                                    </td>
                                    <td class="pro_sub_total">UGX {{ orderitem.get_total_item_price }}</td>
                                    <td>
                                        <div class="pro_remove">
                                            <a href="{% url 'remove-from-cart' orderitem.product.id %}"><i class="fas fa-times"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="row cart_apply_coupon_box">
                <div class="col-xl-6">
                    <div class="apply_coupon">
                        <div class="">
                           {{ form|crispy }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="total_box list-unstyled">
                        <li><span>Subtotal</span>UGX {{ object.total_price }}</li>
                        <li><span>Shipping Cost</span> ____</li>
                        <li><span>Total</span>UGX {{ object.total_price }}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="button_box">
                        <a class="thm-btn update_btn" href="{% url 'listin' %}">Back to Shop</a>
                        <button class="thm-btn checkout_btn" type="submit">Checkout</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock content %}