{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-header" style="background-image: url(/static/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Products</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="#" class="shop_style">Shop</a></li>
            <li><span>Products</span></li>
        </ul>
    </div>
</section>


<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="sidebar-wrapper style2">
                    <!--Start single sidebar-->
                    <div class="single-sidebar wow fadeInUp animated" data-wow-delay="0.1s"
                        data-wow-duration="1200ms">
                        <div class="sidebar-search-box">
                            <form class="search-form" action="#">
                                <input placeholder="Search" type="text">
                                <button type="submit"><i class="icon-magnifying-glass"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                    <!--End single sidebar-->
                    <!--Start sidebar categories Box-->
                    <div class="price_sidebar wow fadeInUp animated" data-wow-delay="0.3s"
                        data-wow-duration="1200ms">
                        <h3>Price</h3>
                        <div class="price-ranger">
                            <div id="slider-range"></div>
                            <div class="ranger-min-max-block">
                                <input type="text" readonly class="min">
                                <span>-</span>
                                <input type="text" readonly class="max">
                                <input type="submit" value="Filter">
                            </div>
                        </div>
                    </div>
                    <!--End sidebar categories Box-->
                    <!--Start sidebar categories Box-->
                    <div class="single-sidebar wow fadeInUp animated" data-wow-delay="0.3s"
                        data-wow-duration="1200ms">
                        <div class="categories-box">
                            <div class="title">
                                <h3>Categories</h3>
                            </div>
                            <ul class="categories clearfix">
                                <li><a href="#">Vegetables</a></li>
                                <li><a href="#">Fruit Basket</a></li>
                                <li><a href="#">Dairy Products</a></li>
                                <li><a href="#">Tomatos</a></li>
                                <li><a href="#">Oranges</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End sidebar categories Box-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar wow fadeInUp animated" data-wow-delay="0.5s"
                        data-wow-duration="1200ms">
                        <div class="top_sellers">
                            <div class="title">
                                <h3>Top Products</h3>
                            </div>
                            <ul class="top-products">
                                <li>
                                    <div class="product_item">
                                        <div class="img-box">
                                            <img src="assets/images/shop/top-product-1.jpg" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="#">Wheat Bag</a></h4>
                                            <div class="value">$9.99</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="product_item">
                                        <div class="img-box">
                                            <img src="assets/images/shop/top-product-2.jpg" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="#">Pinepale</a></h4>
                                            <div class="value">$9.99</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End single sidebar-->

                </div>
            </div>
            <!--End Sidebar Wrapper-->
            <div class="col-xl-9 col-lg-9">
                <div class="product-items">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="showing-result-shorting">
                                <div class="left">
                                    <div class="showing">
                                        <p>Showing 1-9 of 20 Results</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="shorting">
                                        <select class="selectpicker" data-width="100%">
                                            <option selected="selected">Default Sorting</option>
                                            <option>Default Sorting 1</option>
                                            <option>Default Sorting 2</option>
                                            <option>Default Sorting 3</option>
                                            <option>Default Sorting 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="all_products">
                        <div class="row">
                            {% for pdt in object_list %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="all_products_single text-center">
                                    <div class="all_product_item_image">
                                        <img src="{{ pdt.image_270x293.url }}" alt="">
                                        <div class="all_product_hover">
                                            <div class="all_product_icon">
                                                <a href="cart.html"><span class="icon-shopping-cart"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><a href="{% url 'pdt_detail' pdt.id %}">{{ pdt.name }}</a></h4>
                                    <p>UGX{{ pdt.price }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}